[Desktop Entry]
Name=wine-bleeding
Comment=Wine-bleeding runtime GUI
Exec=wb-gui %f
Icon=wine-bleeding
Type=Application
Categories=Game;Emulator;
MimeType=application/x-ms-dos-executable;
StartupNotify=true
